AutomationHelper/AutomationHelper.Assert/bin/
AutomationHelper/AutomationHelper.Assert/obj/
AutomationHelper/.vs/AutomationHelper/v15/.suo
AutomationHelper/AutomationHelper.Base/bin/
AutomationHelper/AutomationHelper.Base/obj/
AutomationHelper/AutomationHelper.Web/obj/
AutomationHelper/AutomationHelper.Web/bin/
AutomationHelper/packages/
AutomationHelper/AutomationHelper.Desktop/obj/
